@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Jersey+15&family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Jersey+15&family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&family=Vast+Shadow&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

.fix{
    position: sticky;
    top: 0;
    z-index: 1000 !important;

}
.bt-shadow{
    box-shadow: 0px 1px 4px rgb(0, 0, 0, 0.35);
}

.navbar{
    width: 100%;
    height: 70px;
}

.ul-tag{
    list-style: none;
    margin-bottom: 0;
}

.flex{
    display: flex;
}

.nav-main-menu{
    justify-content: space-around;
    align-items: center;
}
.nav-menu-item{
   margin: 1.5em;
   font-weight: 700;
   font-size: 1.2rem;
   font-family: Roboto ,sans-serif;
   position: relative;
   cursor: pointer;
   color: white;
}


.nav-menu-item:hover{
    color: rgb(138, 188, 188);
}


.add-active-color{
    color: rgb(138, 188, 188);
}

.remove-active-color{
    color: #fff;
}


.main-section{
    width: 100%;
    height: inherit;
    margin-top: 4rem;
    padding: 40px 0;
    background: #c7c6ca5a;
}

.carousel-item{
    height: 650px;
    opacity: 0;
}

/* .dark-theme{
    width: 100px;
} */


