@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Jersey+15&family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Jersey+15&family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&family=Vast+Shadow&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

.fix{
    position: sticky;
    top: 0;
    z-index: 1000 !important;

}
.bt-shadow{
    box-shadow: 0px 1px 4px rgb(0, 0, 0, 0.35);
}

.navbar{
    width: 100%;
    height: 70px;
}

.ul-tag{
    list-style: none;
    margin-bottom: 0;
}

.flex{
    display: flex;
}

.nav-main-menu{
    justify-content: space-around;
    align-items: center;
}
.nav-menu-item{
   margin: 1.5em;
   font-weight: 700;
   font-size: 1.2rem;
   font-family: Roboto ,sans-serif;
   position: relative;
   cursor: pointer;
   color: white;
}


.nav-menu-item:hover{
    color: rgb(138, 188, 188);
}


.add-active-color{
    color: rgb(138, 188, 188);
}

.remove-active-color{
    color: #fff;
}


.main-section{
    width: 100%;
    height: 46ic;
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding: 40px 0;
    background: #c7c6ca5a;
   
}

.carousel-item{
    height: 650px;
    opacity: 0;
}

.about-content{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 200px;
    justify-content: center;
    row-gap: 50px;
    position: relative;
}

.about-content-item{
    width: 400px;
    height: 500px;
    background-color: rgba(246, 246, 246, 0.886);
    border: 4px solid silver;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgb(52, 51, 51);

}

.about-section{
    background: #64acba6e;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#knowMoreBtn{
    padding: 5px 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: 500;
    border-radius: 10px;
    border: 3px solid #3216c2;
    background: #3216c2;
    color: #fff;
    margin-top: 10px;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 2px 4px gray;
}

#knowMoreBtn:hover{
    border: 3px solid silver;
    transition: 0.3s;
}

.persion-info{
    text-align: center;
    position: relative;
    top: 3rem;
}

#viewAllBtn{
    padding: 5px 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: 500;
    border-radius: 10px;
    border: 3px solid #3216c2;
    background: #3216c2;
    color: #fff;
    margin-top: 5em;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 2px 4px gray;
}

#viewAllBtn:hover{
    border: 3px solid silver;
    transition: 0.3s;
}

